body{
    background-image: url("bg-pattern-top-desktop.svg"),url("bg-pattern-bottom-desktop.svg");
    background-blend-mode: multiply;
    font-size: 15px;
    font-family: Spartan;
    background-color: hsl(0, 0%, 100%);
    
}
h1{
    color:hsl(300, 43%, 22%);
     font-weight: 700;
}
.pit{
    color: hsl(303, 10%, 53%);
}

h6{
    color: white;
    font-weight: 500;
    margin-top: 10px;
   float:left;
    margin-left:10px;
  
}
.card{
    background-color: hsl(300, 43%, 22%);
    height:200px;
    display: flex;
    width:400px;
    margin-left: 10%;
    margin-right: 12%;
}
.nd{
    color: hsl(333, 80%, 67%);
}
.card-text{
    color: hsl(0, 0%, 100%);
}
.sect-1{
    width: 50%;
    float: left;
    
}
#First{
    padding-left: 12%;
    padding-right: 12%;
    padding: 10%;
    position: absolute;
    height: 100vh;

   
}

li{
    color: hsl(300, 43%, 22%);
    font-weight: 500;
    background-color: hsl(300, 24%, 96%);
    height: 50px;
     border-radius:5%;
    padding-top:10px;
   
    
}
.card-deck{
   
   height: 500px;
   width: 100%;
}
.card-img-top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
   

}

.head{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    grid-gap: 0px;
    height: 90px;
}
#sec{
    margin-top: 10px;
}
#tri{
    margin-top: 20px;
}
#one{
    margin: 10px 40px 20px 40px;
}
#two{
    margin: 10px 40px 20px 60px;
}
#three{
    margin: 10px 40px 20px 80px;
}
ul{
    list-style-type: none;
}
.bluff{
    margin-right: 5px;
    margin-left:8px;
}
@media(max-width:375px){
    #First{
        display: flex;
       flex-direction: column;
       justify-content: center;
       position: absolute;
    }
  #second{
      width:100%;
    }
    #third{
       position:static;
    }
    .card{
        width:auto;
        height:auto
    }

}
